<body>
    {{with .Post.GeneralHtmlData.Config.Menu}}
    <div class="menu">
        {{range .}}
            <div class="menu-el">
                <a href="{{.Url}}">{{.Label}}</a>
            </div>
        {{end}}
    </div>
    {{end}}
    <div class="main">
        {{.Post.GeneralHtmlData.Content}}
    </div>
    {{with .PaginationData}}
    <div class="pagination">
        {{range .}}
        <div class="{{.Type}}">
            <a href="{{.Custom}}">{{.Type}}</a>
        </div>
        {{end}}
    </div>
    {{end}}
</body>