{
    "label": "Test homepage",
    "menu" : [
        {
            "label" : "Home",
            "url" : "/"
        },
        {
            "label": "About",
            "url": "/about"
        }
    ],
    "tags": [
        {
            "key" : "tag_1",
            "urls": [
                "category/post1.md",
                "category/post2.md"
            ]
        },        
        {
            "key": "tag2",
            "urls": [
                "category/post.md"
            ]
        }
    ],
    "postsPerPage": 3,
    "previewByPageBreak": false,
    "previewPageBreakString": "<!--pb-->",
    "previewLength": 15,
    "maxTwoPaginationButtons": true,
    "sourcePath": "./source",
    "resultPath": "./result",
    "staticPath": "./css",
    "url": "https://domain.com"
}