{
    "label": "Test homepage",
    "menu" : [
        {
            "label" : "Home",
            "url" : "/"
        },
        {
            "label": "About",
            "url": "/about"
        }
    ],
    "postsPerPage": 3,
    "previewLength": 15,
    "sourcePath": "./source",
    "resultPath": "./result",
    "staticPath": "./css",
    "url": "https://domain.com"
}